div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 250px 250px;
}

div{
    background-color: purple;
}

@media screen and(max-width: 821px){
div{
    grid-template-columns: 1fr 1fr;
}
}
 @media screen and(max-width: 500px) {
        div{
grid-template-columns: 1fr;
    }
}
        
    